#mainNav.navbar-shrink {
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
    opacity:0.8;
}
.header-content .header-content-inner p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
    color: rgba(255,255,255,1);
}
.logo {
    padding-top:10%;
}
.logic {
    width:100px;
}

@media (max-width:768px) {
    .logo .big-logo1 {
        display:none;
    }
}

@media (min-width:769px) {
    .logo .big-logo2 {
        display:none;
    }
}
